#header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
  /* background: rgba(255, 255, 255, 0.9); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#gmail-counter {
  margin-left: 20px;
  color: #666;
}

.gb_W {
  padding: 12px;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: 0 2px 4px #000;
}
