#header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  z-index: 2;
}

#user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#gmail-counter {
  margin-left: 20px;
  color: #666;
}

.gb_W {
  padding: 12px 30px;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: 0 2px 4px #000;
}

.google-logo-container {
  display: flex;
  justify-content: center;
}

.google-logo {
  margin: 0 20px;
  padding-top: 2px;
  background-image: url(/images/google_logo.svg);
  width: 140px;
  height: 46px;
  background-size: cover;
}
