#world-map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  pointer-events: none;
}

#timezone-list {
  position: fixed;
  top: 52px;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.timezone-item {
  margin-bottom: 4px;
  padding: 2px;
  border-radius: 4px;
  text-align: center;
}

.timezone-city {
  font-weight: 700;
  font-size: large;
  color: #1a73e8;
  text-align: center;
}

.timezone-time {
  color: #475263;
  margin-top: 4px;
  font-size: large;
  font-weight: 700;
  text-align: center;
}

.timezone-date {
  color: #475263;
  font-weight: 600;
}

#map {
  width: 100%;
  height: 100vh;
  background: url("/images/world-map.svg") no-repeat center center;
  background-size: contain;
  opacity: 0.4;
}
