#todo-container-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

#todo-container {
  background: #EEFE;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1px 2px 4px #0008;
}

#todo-container:hover{
  background: #0001002c;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

#todo-list{
  height: 100%;
  min-height: 200px;
  overflow-y: auto;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  font-size: medium;
  color: #363;
  font-weight: 600;
}

.todo-item.completed .todo-text {
  text-decoration: line-through;
  color: #888;
}

.todo-checkbox {
  margin-right: 12px;
}

.delete-todo {
  margin-left: auto;
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 18px;
}

#todo-form {
  width: 100%;
  margin-top: 16px;
}

#new-todo {
  width: 90%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}